<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbM6SY1dHq5KEmaBw2FTCt-flkTzlbMco</string>
	<key>GCM_SENDER_ID</key>
	<string>682460858282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geminiAiDemo</string>
	<key>PROJECT_ID</key>
	<string>gemini-flutter-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>gemini-flutter-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682460858282:ios:0724a3a797a8463994cdd3</string>
</dict>
</plist>